[flake8]
ignore = E501,W504,W503,E123,F401,E266,F841,E251,E126,E131,E125,E231,E713, E226, E241, F541, E221, E203
max-line-length = 79
show-source = False
application-import-names =
exclude =
    .git
    docs
    venv
    build
    env
    log
    dist
	*.egg-info
	__pycache__
